* {
  margin: 0;
  padding: 0;
}

.top {
  margin: 20px 0 20px 0;
  border-bottom: solid;
  height: 60px;
  text-align: center;
}

ol {
  width: 100px;
  height: 500px;
  margin: 0 20px 0 40px;
  float: left;
  border-right: solid;
}

li {
  font-size: medium;
}
